.container {
  display: flex;
}

.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  z-index: 15;
  top: 25%;
  left: 53.3%;
  margin: -100px 0 0 -150px;
  background-color: black
}

.grid div {
  height: 20px;
  width: 20px;
}
.tetromino {
  background-color: aqua
}


.mini-grid {
  margin-left: 25px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  z-index: 15;
  top: 25%;
  left: 47.3%;
  margin: -100px 0 0 -150px;
  background-color: black
}

.mini-grid div {
  height: 20px;
  width: 20px;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
    left: 50.1%,
}
